header {
    padding-left: 20px;
}
header h4 {
    color: rgba(0, 0, 0, 0.3);
}
h1.title {
    text-align: center;
}
.text-title {
    background: #D8E6F3;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
    border: #ccc 1px solid;
	padding: 5px 10px;
}

